* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url('./images/background.png');
  text-align: center;
}

.Header {
  color: white;
}

.SolarSystem {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.PlanetCard {
  display: flex;
  flex-direction: column;
}

.planet-name {
  color: white;
}
